/*Global*/
*{
  margin: 0; 
  padding:0;
 }
 body{
   background-color: #FFEDD5;
   font-family:'Roboto', sans-serif;
 }
 ul{
   list-style: none;
 }
 /*Fonts*/
 h1, h2, h3, .price{
 font-family: 'Roboto' serif,sans-serif;
 text-transform: uppercase;
 color: #2D2C2A;
 }
 /*Header ou Cabeçalho*/ 
 header{
 padding: 32px 0;
 text-align:center;
 
 }
 header h1 span {
 color: #995000;
 }
 header h1{
   margin-bottom:4px ;
   font-size: 28px;
   line-heigth:33px;
  
 }
 header p{
   font-size: 14px;
   line-height: 16px;
   color:rgba(0, 0, 0, 0.7);
 }
 /*Section=Seção*/ 
 header, section{
   max-width: 300px;
   margin:0 auto ;
 
 
 }
 section h2{
   background-color:#fed7aa ;
   padding: 8px 16px ;
   text-align:center;
   margin-bottom: 24px;
   font-size: 18pt;
 }
 /*Lista*/
 ul li{
   margin-bottom:16px ;
   display:flex;
 }
 li. details{
 max-width:240px ;
 }
 . details h3{
   margin-bottom:8px ;
   font-size: 16px;
   line-heigth:19px;
 }
 .details p {
 
 color:rgba(0, 0, 0, 0.6);
 font size: 14px;
 line-heigth:21px;
 }
 

   
   
     